<nav id="mobileMenu" [ngClass]="{'show': menuOpen}">
    <section id="headerSection">
        <img src="./assets/img/logo.png" alt="">
        <img [src]="currentImage" (click)="toggleMenuFunc()" alt="">
    </section>
    <section id="linkSection">
        <a href="#aboutMe">About me</a>
        <a href="#mySkills">My skills</a>
        <a href="#portfolio">Portfolio</a>
    </section>
    <div id="navFooter">
        <div id="sectionContainer">
            <span id="footerHeading">Say Hi!</span>
            <div id="lastCol">
                <a id="footerMail" href="mailto:hdateam90&#64;gmail.com">hdateam90&#64;gmail.com</a>
                <div id="logoContainer">
                    <a href="https://github.com/Daxi90" target="_blank"><img src="./assets/img/github.png" alt=""></a>
                    <a href="mailto:hdateam90@gmail.com" target="_blank"><img src="./assets/img/email.png" alt=""></a>
                    <a href="https://www.linkedin.com/in/david-hollerwoeger/" target="_blank"><img src="./assets/img/linkedin.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</nav>
