@import "./../../../styles.scss";

@mixin responsiveForm {
  width: 100%;

  @media screen and (max-width: 700px) {
    width: 80%;
  }
}

form {
  @include flex($fd: column);
  @include responsiveForm();
  gap: 20px;

  input {
    border: none;
    border-bottom: 2px solid white;
    background-color: black;
    padding: 15px 25px;
    @include responsiveForm();
    color: white;

    &:hover{
      border: 2px solid white;
    }

    &:focus{
      ::placeholder {
        color: red !important;
      }
    }
  }

  textarea {
    border: none;
    border-bottom: 2px solid white;
    background-color: black;
    padding: 15px 25px;
    @include responsiveForm();
    color: white;

    &:hover{
      border: 2px solid white;
    }
  }

  ::placeholder {
    color: white;
  }

  label {
    color: #fffcf3;
    font-family: Overpass;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
  }

  #checkboxContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    @include responsiveForm();
  }

  button {
    padding: 20px 60px;
    border: 4px solid #bbb;
    opacity: 0.3;
    background-color: black;
    /* s2 shadow */
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    color: rgba(187, 187, 187, 1);
    cursor: pointer;
    text-align: center;
    font-family: Overpass;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 27.6px */
  }
}

#privacyPolicy {
  color: #00bc8f;
  font-family: Overpass;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

input#dsgvo {
  flex: 1;
}

.input-container {
  position: relative;
  margin-top: 25px;
  @include responsiveForm();
}

.input-container input, .input-container textarea {
  background-color: black;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  padding: 15px 25px;
  &:focus {
    outline: none;
    border-bottom: 2px solid white;
  }
  &:focus ~ label, &:not(:placeholder-shown) ~ label {
    top: -6px;
    left: 10px;
    font-size: 12px;
    color: white;
    z-index: 9;
    background-color: black;
  }
}

.input-container label {
  position: absolute;
  top: 15px;
  left: 25px;
  transition: 0.3s;
  color: white;
  pointer-events: none;
}

html {
  background-color: black;
}

/* Customize the label (the container) */
.container {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 3px;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
