<form id="contactForm" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
  <div class="input-container">
    <input
      [(ngModel)]="contactData.name"
      required
      name="name"
      placeholder=" "
      type="text"
      #nameField
    />
    <label>Your Name</label>
  </div>
  <div class="input-container">
    <input
      [(ngModel)]="contactData.email"
      required
      type="email"
      placeholder=" "
      name="email"
      #emailField
      pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
    />
    <label>Your Email</label>
  </div>
  <div class="input-container">
    <textarea
      [(ngModel)]="contactData.message"
      required
      name="message"
      placeholder=" "
      id=""
      cols="30"
      rows="10"
      minlength="10"
      #messageBox="ngModel"
    ></textarea>
    <label>Your Message</label>
    @if (!messageBox.valid && messageBox.touched) {
      <span style="color: red;">Please enter a message</span>
    }
  </div>

  <div id="checkboxContainer">
    <label class="container"
      >I've read the <a id="privacyPolicy" href="#">privacy policy</a> and agree
      to the processing of my data as outlined.
      <input type="checkbox" />
      <span class="checkmark"></span>
      <span class="hover-circle"></span>
    </label>
  </div>

  <button #sendButton>Send Message</button>
</form>
