<section>
    <div id="personal">
        <img src="./assets/img/logoFooter.png" alt="">
        <span>© David Hollerwöger 2024</span>
    </div>
    <div id="contact">
        <div id="socialMedia">
            <a href="https://github.com/Daxi90" target="_blank"><img src="./assets/img/github.png" alt=""></a>
            <a href="mailto:hdateam90@gmail.com" target="_blank"><img src="./assets/img/email.png" alt=""></a>
            <a href="https://www.linkedin.com/in/david-hollerwoeger/" target="_blank"><img src="./assets/img/linkedin.png" alt=""></a>
        </div>
        <a id="legalNotice" style="color:white;" href="#">Lega<span class="underlined">l notice</span></a>
    </div>
</section>
