@import "./../../../styles.scss";

section {
  @include flex($jc: space-between);
  @include section();
  min-height: 400px;
}

#mail {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
}

#scroll {
  white-space: pre-line;
  font-family: Overpass;
  font-size: 23px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 23px */
  letter-spacing: -0.575px;
}


img.arrow{
  position: absolute;
  bottom: 12%;
}

@media screen and (max-width: 1215px) {
  img.arrow{
    bottom: 15%;
  }
}

@media screen and (max-width: 1110px) {
  img.arrow{
    bottom: 22%;
  }
}

@media screen and (max-width: 900px) {
  img.arrow{
    display: none;
  }
}
