@import "./../../../styles.scss";

section {
  @include flex($jc: space-between);
  @include section();
  min-height: 400px;
}

#mail {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
}

#scroll {
  white-space: pre-line;
  font-family: Overpass;
  font-size: 23px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 23px */
  letter-spacing: -0.575px;
  position: relative;
}

#arrow-animation {
  position: relative;
  text-align: center; /* Zentriert den Text horizontal */
}


img.arrow {
  position: absolute;
  bottom: 30px; /* Stellen Sie diesen Wert so ein, dass er den gewünschten Abstand zum Text hat */
  left: 50%; /* Zentriert das Bild horizontal relativ zum Container */
  transform: translateX(-50%); /* Verschiebt das Bild horizontal, um es genau zu zentrieren */
}
