@import "./../../../styles.scss";

section {
  @include section();
}

.twoCol {
  @include flex($al: start);

  div {
    width: 49%;
    @include flex($fd: column);
    text-align: left;
  }

  @media screen and (max-width: 1500px) {
    @include flex($fd: column);

    div {
      width: 100%;
    }
  }
}

#headline {
  color: #000;
  text-align: center;
  font-family: Syne;
  font-size: clamp(2.8125rem, 2.0625rem + 3.75vw, 4.875rem);
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 78px */
  letter-spacing: 0.78px;
  margin-bottom: 52px;

  &:hover {
    color: $secondaryFont;
  }
}

#btn {
  @include buttonMob();
}

#leftBox {
  align-items: flex-start !important;
}

#aboutMeTxt {
  color: #000;
  font-family: Overpass;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 27.6px */
}

#devImg {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

#devImg div {
  position: relative;
  display: inline-block;
}

#devImg div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid transparent; /* Größe des Rahmens */
  transition: transform 0.3s ease, border-color 0.3s ease;
  box-sizing: border-box;
}

#devImg div:hover::before {
  transform: translate(10px, 10px); /* Verschiebung nach rechts unten */
  border-color: black; /* Farbe des Rahmens */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  #devImg div {
    justify-content: center;
  }
}

/* Media Query für Bildschirme mit einer Breite von 1500px oder weniger */
@media screen and (max-width: 1500px) {
  #devImg {
    justify-content: center; /* Zentriert den inneren Container (und damit das Bild) horizontal */
  }

  #devImg div {
    display: flex;
    justify-content: center; /* Zentriert das Bild innerhalb des div Containers */
  }

  #devImg div::before, #devImg div:hover::before {
    border: none; /* Entfernt den Rahmen */
    transform: none; /* Entfernt die Transformation */
  }
}
