@import "./../../../styles.scss";

section {
  @include flex($jc: center, $al: stretch);
  @include section();
}

.potfolioDate {
  color: #000;
  text-align: right;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Syne;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  display: flex;
  align-items: flex-start;
  justify-content: end;
}

div {
  width: 49%;
}

img {
  width: 100%;
  filter: grayscale(1);
}

@media screen and (max-width: 1050px) {
  section {
    @include flex($jc: center, $al: stretch, $fd: column-reverse);
  }

  div {
    width: 100%;
  }

  .potfolioDate {
    margin-bottom: 26px;
  }
}

#projectImg div {
  position: relative;
  display: inline-block;
  width: 100%;
}

#projectImg div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid transparent; /* Größe des Rahmens */
  transition: transform 0.3s ease, border-color 0.3s ease;
  box-sizing: border-box;
  z-index: 5;
}

#projectImg div:hover::before {
  transform: translate(20px, 20px); /* Verschiebung nach rechts unten */
  border-color: black; /* Farbe des Rahmens */
}

.portfolioDescHeader {
  color: #000;
  text-align: center;
  font-family: Syne;
  font-size: clamp(2.8125rem, 2.0625rem + 3.75vw, 4.875rem);
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 78px */
  letter-spacing: 0.78px;

  &:hover {
    color: $secondaryFont;
  }
}

.portfolioDesc {
  @include flex($fd: column, $al: start);
  gap: 16px;
}

.potfolioDate {
  @include flex($fd: column, $jc: space-between, $al: end);
}

.portfolioDescTech {
  color: $secondaryFont;
  font-family: Overpass;
  font-size: 23px;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}

.portfolioDescText {
  font-family: Overpass;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}

#btn {
  @include buttonMob();
  margin-left: 0;
  margin-bottom: 0;
}
